extends ../layout

block content
  h4.text-uppercase Add Company
  form(method="POST", action="/companies/add").col-6
    .mb-3
      label.form-label(for="name") Name
      input.form-control(type="text", name="name", required)
    .mb-3
      label.form-label(for="address") Address
      textarea.form-control(name="address", rows="3", required)
    .mb-3
      label.form-label(for="phone") Phone
      input.form-control(type="text", name="phone", required)
    .mb-3
      label.form-label(for="email") Email
      input.form-control(type="email", name="email", required)
    .btn-group
      button.btn.btn-primary(type="submit") Submit
      a.btn.btn-secondary(href="/companies") Cancel
